* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
  font-family: "Amatic SC", cursive;
}
body {
  height: 100%;
  margin: 0;
  background-color: #ffc600;
}
h1 {
  color: #000000;
}
.container {
  text-align: center;
}

/* botão */
.start {
  margin: 20px 5px;
}
button {
  margin: 20px;
  color: #f6f4f4;
  font-size: 30px;
  background-color: #ffa12b;
  padding: 10px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 90px;
  width: 100%;
  color: rgb(255, 255, 255);
}

/* nth-child(2) vai selecionar o segundo H2 */

.ponto h2:nth-child(2),
.tempo h2:nth-child(2) {
  margin-top: 10px;
  border-radius: 22px;
  line-height: 1;
  padding: 0 3rem;
}

/* Painel */

.painel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 150px;
  width: 150px;
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: solid #000000;
}

/* Personagem */

.enemy {
  background: url(./img/mole.svg) bottom center no-repeat;
  background-size: 100%;
  transition: all 0.3s;
}
